<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0zO7ebkUuioZGP4dnYrcTQeK502yY9jk</string>
	<key>GCM_SENDER_ID</key>
	<string>458942778783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anubratsapplication.app.testProject</string>
	<key>PROJECT_ID</key>
	<string>dhiwise-ecom</string>
	<key>STORAGE_BUCKET</key>
	<string>dhiwise-ecom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458942778783:ios:48e04942a71dec49f081aa</string>
</dict>
</plist>